header {
  height: 65px;
  padding: 20px 0;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav-link img {
  height: 40px;
}

.header__nav-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}
.header__nav-menu li {
  margin: 0 5px;
  padding: 0 20px;
}
.header__nav-menu li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.4s;
  position: relative;
}
.header__nav-menu li a::after {
  content: "";
  position: absolute;
  width: 0%;
  bottom: -10px;
  left: 0;
  height: 2px;
  background-color: #ffc576;
}
.header__nav-menu li a:hover, .header__nav-menu li a.active {
  transition: 0.4s;
  color: #ffc576;
}
.header__nav-menu li a:hover::after, .header__nav-menu li a.active::after {
  width: 100%;
  transition: 0.4s;
}

.btn {
  font-size: 14px;
  padding: 7px 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: 0.4s;
  cursor: pointer;
}

.btn-sm {
  font-size: 12px;
  padding: 4px 10px;
}

.btn-lg {
  font-size: 16px;
  padding: 12px 25px;
}

.btn-active, .btn-outline-active:hover {
  background-color: #ffc576;
  border-color: #ffc576;
  color: #fff;
}

.btn-outline-active {
  background-color: transparent;
  border-color: #ffc576;
  color: #ffc576;
}
.btn-outline-active:hover {
  transition: 0.4s;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media screen and (min-width: 568px) {
  .col-xs-1 {
    width: 8.3333333333%;
  }

  .col-xs-2 {
    width: 16.6666666667%;
  }

  .col-xs-3 {
    width: 25%;
  }

  .col-xs-4 {
    width: 33.3333333333%;
  }

  .col-xs-5 {
    width: 41.6666666667%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-7 {
    width: 58.3333333333%;
  }

  .col-xs-8 {
    width: 66.6666666667%;
  }

  .col-xs-9 {
    width: 75%;
  }

  .col-xs-10 {
    width: 83.3333333333%;
  }

  .col-xs-11 {
    width: 91.6666666667%;
  }

  .col-xs-12 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }

  .col-sm-2 {
    width: 16.6666666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.3333333333%;
  }

  .col-sm-5 {
    width: 41.6666666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.3333333333%;
  }

  .col-sm-8 {
    width: 66.6666666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.3333333333%;
  }

  .col-sm-11 {
    width: 91.6666666667%;
  }

  .col-sm-12 {
    width: 100%;
  }
}
@media screen and (min-width: 991px) {
  .col-md-1 {
    width: 8.3333333333%;
  }

  .col-md-2 {
    width: 16.6666666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.3333333333%;
  }

  .col-md-5 {
    width: 41.6666666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.3333333333%;
  }

  .col-md-8 {
    width: 66.6666666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.3333333333%;
  }

  .col-md-11 {
    width: 91.6666666667%;
  }

  .col-md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .col-lg-1 {
    width: 8.3333333333%;
  }

  .col-lg-2 {
    width: 16.6666666667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.3333333333%;
  }

  .col-lg-5 {
    width: 41.6666666667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.3333333333%;
  }

  .col-lg-8 {
    width: 66.6666666667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.3333333333%;
  }

  .col-lg-11 {
    width: 91.6666666667%;
  }

  .col-lg-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .col-xl-1 {
    width: 8.3333333333%;
  }

  .col-xl-2 {
    width: 16.6666666667%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-4 {
    width: 33.3333333333%;
  }

  .col-xl-5 {
    width: 41.6666666667%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-7 {
    width: 58.3333333333%;
  }

  .col-xl-8 {
    width: 66.6666666667%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-10 {
    width: 83.3333333333%;
  }

  .col-xl-11 {
    width: 91.6666666667%;
  }

  .col-xl-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1920px) {
  .col-xxl-1 {
    width: 8.3333333333%;
  }

  .col-xxl-2 {
    width: 16.6666666667%;
  }

  .col-xxl-3 {
    width: 25%;
  }

  .col-xxl-4 {
    width: 33.3333333333%;
  }

  .col-xxl-5 {
    width: 41.6666666667%;
  }

  .col-xxl-6 {
    width: 50%;
  }

  .col-xxl-7 {
    width: 58.3333333333%;
  }

  .col-xxl-8 {
    width: 66.6666666667%;
  }

  .col-xxl-9 {
    width: 75%;
  }

  .col-xxl-10 {
    width: 83.3333333333%;
  }

  .col-xxl-11 {
    width: 91.6666666667%;
  }

  .col-xxl-12 {
    width: 100%;
  }
}
.text-active {
  color: #ffc576;
}

.text-white {
  color: #fff;
}

.text-dark {
  color: #292e44;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.fs-28 {
  font-size: 28px;
}

.fs-30 {
  font-size: 30px;
}

.fs-32 {
  font-size: 32px;
}

.fs-34 {
  font-size: 34px;
}

.fs-36 {
  font-size: 36px;
}

.fs-38 {
  font-size: 38px;
}

.fs-40 {
  font-size: 40px;
}

.fs-42 {
  font-size: 42px;
}

.fs-44 {
  font-size: 44px;
}

.fs-46 {
  font-size: 46px;
}

.fs-48 {
  font-size: 48px;
}

.fs-50 {
  font-size: 50px;
}

.fs-52 {
  font-size: 52px;
}

.fs-54 {
  font-size: 54px;
}

.fs-56 {
  font-size: 56px;
}

.fs-58 {
  font-size: 58px;
}

.fs-60 {
  font-size: 60px;
}

.fs-62 {
  font-size: 62px;
}

.fs-64 {
  font-size: 64px;
}

.fs-66 {
  font-size: 66px;
}

.fs-68 {
  font-size: 68px;
}

.fs-70 {
  font-size: 70px;
}

.fs-72 {
  font-size: 72px;
}

.fs-74 {
  font-size: 74px;
}

.fs-76 {
  font-size: 76px;
}

.fs-78 {
  font-size: 78px;
}

.fs-80 {
  font-size: 80px;
}

.fs-82 {
  font-size: 82px;
}

.fs-84 {
  font-size: 84px;
}

.fs-86 {
  font-size: 86px;
}

.fs-88 {
  font-size: 88px;
}

.fs-90 {
  font-size: 90px;
}

.fs-92 {
  font-size: 92px;
}

.fs-94 {
  font-size: 94px;
}

.fs-96 {
  font-size: 96px;
}

.fs-98 {
  font-size: 98px;
}

.fs-100 {
  font-size: 100px;
}

.fs-102 {
  font-size: 102px;
}

.fs-104 {
  font-size: 104px;
}

.fs-106 {
  font-size: 106px;
}

.fs-108 {
  font-size: 108px;
}

.fs-110 {
  font-size: 110px;
}

.fs-112 {
  font-size: 112px;
}

.fs-114 {
  font-size: 114px;
}

.fs-116 {
  font-size: 116px;
}

.fs-118 {
  font-size: 118px;
}

body {
  margin: 0;
  background-color: #292e44;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
